*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0px;
}

header {
    display:flex;
    background-color: #1F2937;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    flex: 0.95 1 auto;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left:150px;
}
.link {
    color: LightGray;
    font-size: 18px;
    text-align: right;
    font-weight:lighter;
    flex: 0.05 1 auto;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.link.last {
    margin-right: 150px
}

.hero {
    background-color: #1F2937;
    display: flex;
}
.hero.text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left:150px;
    
}
.hero.subtext {
    color: LightGray;
    font-size: 18px;
    font-weight: lighter;
    margin-left:150px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.button {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    margin-top: 0px;
    margin-left:150px;
    padding:9px;
    padding-left: 36px;
    padding-right: 36px;
    border: none;
    border-radius: 10px;
}
.hero.kitten {
    margin-top: 50px;
    margin-right:150px;
    margin-bottom: 100px;
    margin-left: 125px;
}

.headertext {
    color: #1F2937;
    background-color: white;
    font-size: 36px;
    text-align:center;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 50px;
}
.info {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.kittens {
    flex: 0 1 10%;
    color: DimGray;
    font-size: 18px;
    text-align: center;
    margin-bottom: 100px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding-top: 100px;
    padding-bottom: 75px;
    padding-right: 300px;
    padding-left: 300px;
}
.quote .author {
    font-size: 24px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    color: #F9FAF8;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
}
.action .line1 {
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 5px;
}
.action .line2 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: lighter;
}
.action .button {
    border: 3px solid #F9FAF8
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    padding: 24px;
}

img {
    width: auto;
    height: auto;
}